main {
  display: flex;
  flex-direction: column;
}

.current-active-users {
/*   display: inline-block; */
  margin: 1rem;
  text-align: center;
}
.current-active-users .value > * {
  font-size: 3rem;
  min-width: 4rem;
}
.current-active-users label {
  font-size: 1.5rem;
}

.overview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

nav a.selected,
nav a.selected:hover {
  background: #268bd2;
  color: #002b36;
}
